/* Header element */
header {
  text-align: center;
  padding: 50px;
  color: #d2d2ce; /* Set text color for better visibility */
  background-color: #525641;
}

header h1 {
  margin: 0;
  font-size: 40px;
  color: #d2d2ce;
}

h2 {
  text-align: center;
}

/* Navbar styles */
nav {
  margin-bottom: 20px;
  background-color: #525641; /* Add black background color to the top navigation */
  overflow: hidden; /* Clear floats */
}

/* products.css */

/* Navbar image styles */
nav img {
  width: 100px; /* Adjust the width as per your preference */
  height: auto; /* Maintain aspect ratio */
  display: inline-block; /* Align the logo and links horizontally */
  vertical-align: middle; /* Vertically align the logo */
}

/* Navbar list styles */
nav ul {
  display: inline-block; /* Align the links horizontally */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navbar list item styles */
nav ul li {
  display: inline; /* Display the list items inline */
  margin-right: 20px; /* Add some spacing between the links */
}

/* Navbar link styles */
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}



nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav .active {
  background-color: antiquewhite;
  color: white;
}

/* Image grid */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}

/* Image container styles */
.image-container {
  position: relative;
}

/* Image overlay styles */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image overlay hover effect */
.image-container:hover .image-overlay {
  opacity: 1;
}

/* Button styles */
.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  background-color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

/* Tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* Create four equal columns that sit next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* About section */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

h1 {
  color: #333;
}

p {
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #525641;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
